{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{usuarios.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="nombre_completo" value="{{usuarios.nombre_completo}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="telefono" value="{{usuarios.telefono}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" value="{{usuarios.email}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
